/* Cocktail card container */
.cocktailBox {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: orange;
}

/* Styles for the cocktail name */
.cocktailName {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

/* Styles for the cocktail rating */
.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Cocktail image */
.cocktailImageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #ffff65;
}

.cocktailImage {
  border-radius: 4px;
}

/* Cocktail details */
.cocktailDetails {
  display: flex; /* Flexbox layout */
  gap: 20px; /* Spacing between columns (adjust as needed) */
  font-family: var(--font-family);
  font-size: 14px;
  color: #333;
  background-color: white;
  padding: 20px;
}

/* Each column (ingredients and instructions) */
.column {
  flex: 1; /* Distribute available space equally between columns */
}

/* Ingredients list */
.ingredientsList {
  list-style-type: disc;
  padding-inline-start: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
