/* globals.css */

:root {
  --primary-color: #0074D9; /* Blue */
  --secondary-color: #FFD700; /* Almost yellow */
  --accent-color: #FF851B; /* Orange */

  --background: #000000;
  --foreground: #f4b808;
  --font-family: Helvetica, sans-serif;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: Georgia, serif;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .container {
    padding: 10px;
  }
}


.panel-row {
  display: flex;
  justify-content: space-between;
  /* Other row-specific styles */
}

.panel {
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  /* Other panel-specific styles */
}

h3 {
  padding-bottom: 10px;
}

ol {
  text-align: left;
}