/* General page styles */
.page {
  --button-primary-hover: var(--primary-color);
  --button-secondary-hover: var(--primary-color);
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-family);
}

/* Main content */
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

/* Call to actions */
.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  padding: 20px;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #d6d5d3; 
  gap: 8px;
  min-width: 180px;
  text-decoration: none;
  color: inherit
}

/* Footer */
.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

/* Dark mode logo */
.dark-mode .logo {
    filter: invert();
}

/* Cocktail card container */
.cocktailBox {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: orange;
}

/* Styles for the cocktail name */
.cocktailName {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

/* Styles for the cocktail rating */
.ratingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Cocktail image */
.cocktailImageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #ffff65;
}

.cocktailImage {
  border-radius: 4px;
}

/* Cocktail details */
.cocktailDetails {
  display: flex; /* Flexbox layout */
  gap: 20px; /* Spacing between columns (adjust as needed) */
  font-family: var(--font-family);
  font-size: 14px;
  color: #333;
  background-color: white;
  padding: 20px
}

/* Each column (ingredients and instructions) */
.column {
  flex: 1; /* Distribute available space equally between columns */
}

/* Ingredients list */
.ingredientsList {
  list-style-type: disc;
  padding-inline-start: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
